/*カード全体*/
.cardBox{
    width:600px;
    height: 50px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 2fr 4fr 3fr 1fr;
    
    align-items: center; 
    border: solid 1px rgb(215, 215, 215);
    border-radius: 6px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}

.cardBox ul{
    display: flex;
    flex-direction: row;
    padding-inline-start: 10px;
}

.cardBox li{
    list-style: none;
    margin: 0px 3px;
}

.cardBox:hover{
    background-color:rgb(226, 255, 254)
}

.taskTitle{
    color: rgb(80, 80, 80);
    font-weight: 700;
    display: inline-block;
    max-height: 20px;
    margin: 0px 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time{
    color: rgb(80, 80, 80);
    font-weight: 700;
    display: inline-block;
    text-align: center;
    max-height: 20px;
    margin: 0px;
}


/*ボタン設定*/
.startIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;     
    height: 28px;
    cursor: pointer;
    color:  rgb(255, 255, 255);
    background-color: rgb(113, 186, 255);
    border: solid 1px rgb(113, 186, 255);
    border-radius: 50%;
}

.startIcon svg{
    font-size: 20px;
}

.pauseIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;     
    height: 28px;
    cursor: pointer;
    color:  rgb(255, 255, 255);
    background-color: rgb(255, 113, 113);
    border: solid 1px rgb(255, 113, 113);
    border-radius: 50%;
}

.pauseIcon svg{
    font-size: 20px;
}

.nomalDoneIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;     
    height: 28px;
    border: solid 2px rgb(190, 190, 190);
    border-radius: 50%;        /* 丸くする */
    color: #ececec;             /* 枠と同じ色に */
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

.nomalDoneIcon svg{
    font-size: 28px;
}

.checkDoneIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;     
    height: 28px;
    border: solid 2px rgb(72, 255, 0);
    border-radius: 50%;        /* 丸くする */
    color: #ececec;             /* 枠と同じ色に */
    cursor: pointer;
    background-color: rgb(72, 255, 0);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }


.doneIcon svg{
    font-size: 28px;
    font-weight: 700;
}


.startIcon:hover{
    transform: scale(1.05);
}

.pauseIcon:hover{
    transform: scale(1.05);
}

.nomalDoneIcon:hover{
    transform: scale(1.05);
}

.checkDoneIcon:hover{
    transform: scale(1.05);
}

/*
.icon:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
    */




/*ケバブメニュー設定*/
.kebabMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;     
    height: 28px;
    cursor: pointer;
    color: black;
    background-color: rgb(255,255,255);
    border: solid 1px grey;
    border-radius: 50%;
}

.kebabMenu svg{
    font-size: 20px;
}

.kebabMenu:hover{
    transform: scale(1.05);
}
