.container{
    width: 100%;
    max-width: 48rem;
    margin:auto;
    padding-top: 5rem;
    text-align: center;
}

.container h1{
    font-size: 3rem;
    margin: 0 auto;
}

.subTitle{
    font-size: 1.5rem;
}


/*入力フォーム*/
.formBox, .btnWrap {
    width: 100%;
    max-width: 20rem;
}

.formBox{
    display: flex;
    flex-direction: column;
    margin:auto;

}

.formBox label {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    margin: 2.5rem 0 1rem;
}

.formBox input {
    font-size: 14px;
    width: 100%;
    margin: auto ;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 8px;
}

.formBox input:focus{
    outline: none;
}


.errorMsg{
    color: red;
    font-weight: 700;
}


/*サインインボタン*/
.btnWrap{
    text-align: center;
    margin: 0px auto 2rem;
}

.signinBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    margin-top: 5rem;
    font-size: 1rem;
    font-weight: 700;
}

/*新規作成ボタン*/
.accountText{
    margin-bottom:4px;
}

.accountBtn{
    padding-top: 1px;
    background: none;
    border: none;
    text-decoration: underline;
    color:  rgb(50, 50, 50);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

.accountBtn:hover{
    color: rgb(10,10,10);
}