/*フォーム内設定*/
.formBox {
    width: 100%;
    max-width: 20rem;
    margin: 2rem auto;
}


/*項目名*/
.formBox h3{
    text-align: center;
    font-size: 1.4rem;
}

.formBox dt{
    font-size: 1.1rem;
    font-weight: 700;
}

.formBox dd{
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 1rem;
}


/*タスク説明*/
.description{
  white-space: pre-wrap;   /* 入力の改行・空白を反映 */
  word-break: break-word;  /* 長い単語も折り返す */
  max-width: 100%;         /* ddの幅に合わせる */
}

/*ボタン*/
.btnWrap{
    text-align: center;
    margin: 0px auto 2rem;
}

.cancelBtn{
    background-color: rgb(255, 255, 255);
    color:black;
    width: 100px;
    border:solid 2px rgb(201, 201, 201);
}
